
* {
    box-sizing: border-box;
    margin: 0px;
    padding: 0px;
}

header {
    background-color: #1F2235;
    display: flex;
    flex-direction: row;
    height: 120px;
    justify-content: space-between;
    
}
header div {
    /* logo image container */
    margin-right: 20px;
}

div img {
    /* logo image */
    height: 100%;
    
}

ul {
    /* unordered list */
    list-style: none;
    display: flex;
    margin-right: 10px;
    
}

ul a {
    /* unordered list link */
    text-decoration: none;
    color: white;
    font-family: 'Poppins', sans-serif;
    font-size: 16px;
    font-weight: 500;
}

ul>li {
    /* unordered list elements */
    margin-right: 10px;
    margin-top: 60px;
}
/* HOME PAGE */

#home {
    /* HOME SECTION */
    background-color: #24263B;
    height: 100vh;
}

.aside {
    /* MAIN DIV 1 */
    width: 55%;
    height: 80vh;
    display: inline-block;
    /* border:2px dashed pink; */
    position: absolute;
    left: 30px;
}

.center {
    /* MAIN DIV 2 */
    width: 45%;
    /* border: 1px dashed green; */
    height: 100vh;
    display: inline-block;
    position: absolute;
    right: 20px;   
}

#social-links {
    /* social links container */
    margin-top: 20%;
    margin-bottom: 5%;
}

#social-links i {
    /* social links item */
    color: white;
    border: 2px solid #FE4A57;
    padding: 15px;
    border-radius: 50%;
    margin-right: 11px;
    cursor: pointer;
    transition: all 0.3s ease;
    transition-delay: 0.1s;
}
#social-links i:hover{
    background-color:#FE4A57 ;
}

#intro {
    /* H2 & H3 container */
    font-family: 'Poppins', sans-serif;
    color: white;

}

#intro h2 {
    /* intro text */
    font:72px bold;
    font-family:Poppins;
    margin-bottom: 10px;
}

#intro h3 {
    font: 38px Poppins light;
    margin-bottom: 20px;
}

.button1 {
    padding: 15px 42px;
    text-decoration: none;
    border: 2px solid #FF4A57;
    font: 20px Poppins, san-serif;
    color: #ffffff;
    border-radius: 36px;
    cursor: pointer;
    transition: all 0.3s ease;
    transition-delay: 0.1s;
    margin-right: 40px;
}

.button1:hover {
    background-color:#FF4A57 ;
}

.button2 {
    cursor: pointer;
    border: 2px solid #FF4A57;
    padding: 25px 40px;
    border-radius: 45px;
    background-color: #FF4A57;
}

/* a.ex1{

} */

.align{
    align-items: center ;
    text-align: left;
}

#home-image img {
    /* customizing the main image in div2*/
    height: 100vh;
    /* border: 1px white dotted; */
    float: right;
    margin-right: 10px;
}

#services {
    background-color: #1F2235; 
    height: 170vh;
}

#services>div>span {
    display: block ;
    padding-top: 120px;
    color: #FF4A57;
    text-align: center;
    font-family: 'Poppins', sans-serif ;
    font-size: medium;
}

.h2 {
    display: block;
    text-align: center;
    font-family: 'Poppins', sans-serif ;
    font-size: 62px;
    font-weight: 700;
    color: #ffffff;
    margin-bottom: 30px;
}

.p1 {
    display: block;
    text-align: center;
    font-family: 'Poppins', sans-serif;
    line-height: 26px;
    font-weight: normal;
    font-style: normal;
    color: #dfdfdf;
    font-size: 16px;
    margin-bottom: 30px;
}

hr {
    margin: 0 auto;
    width: 50px;
    border: 2px solid  #FF4A57;
    margin-bottom: 55px;
}
.container {
    /* display: grid;
    grid-template-columns: auto auto auto; */
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
} 

.card {
    height: 315px;
    width: 340px;
    background-color: #23263A ;
    border-radius: 5%;
    margin: 15px;
}

/* .card:hover {
    /* background-color: #FF4A57; */


.icon-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 15%;
    width: 15%;
    margin-top: 25px;
    margin-left: 35px;
    transition: transform 1.2s ease-in-out;
}

.card:hover .icon-container{
    transform: rotateY(360deg);
}
  
.card:hover .icon-container{
    transform: rotateY(-360deg);
}
.card:hover i{
    color: white;
}
.card:hover{
    background-color:#FF4A57;
}
.icon-container i {
    display: block;
    font-size: 2.5em;
    color: #FE4A57;
}
.card-content{
    text-align: left;
    margin: 35px 35px;
    color: white;
}
.card-content>h2{
    margin-bottom: 20px;
    font-family:'Poppins', sans-serif ;
    font-size:20px;
    font-weight:700;
    line-height:24px;
}
.card-content>h3{
    font-family:'Poppins', sans-serif ;
    font-size:16px;
    font-weight:400;
    line-height:24px;
}

#about {
    background-color: #23263A;
    height: 170vh;
}
#about > h2 {
    padding-top: 130px;
}
